<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.constructefile.democonstract">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CategoryActivity"
            android:label="Categories" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".Activity.CategoryActivity"
            android:theme="@style/AppTheme.TransNav"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".Activity.FuelRecordActivity"
            android:label="Fuel Record"
            android:parentActivityName=".Activity.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.constructefile.democonstract.Activity.CategoryActivity" />
        </activity>
        <activity
            android:name=".Activity.MainMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.TimeSheet" />
        <activity android:name=".Activity.Excavator" />
        <activity
            android:name=".Activity.Injury_Report_Activity"
            android:theme="@style/AppThemeSigm"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.NearMiss_Activity"
            android:label="Near Miss"
            android:theme="@style/AppThemeSigm"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activity.TailgateMeeting" />
        <activity android:name=".Activity.HazardAssesment" />
        <activity android:name=".Activity.DailyTask" />

        <receiver
            android:name=".Activity.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>