<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.constructefile.democonstract">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CategoryActivity"
            android:label="Categories" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".activity.CategoryActivity"
            android:theme="@style/AppTheme.TransNav"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".activity.FuelRecordActivity"
            android:label="Fuel Record"
            android:parentActivityName=".activity.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.constructefile.democonstract.activity.CategoryActivity" />
        </activity>
        <activity
            android:name=".activity.MainMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.TimeSheet" />
        <activity android:name=".activity.Excavator" />
        <activity
            android:name=".activity.Injury_Report_Activity"
            android:theme="@style/AppThemeSigm"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.NearMiss_Activity"
            android:label="Near Miss"
            android:theme="@style/AppThemeSigm"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.TailgateMeeting" />
        <activity android:name=".activity.HazardAssesment"></activity>
    </application>

</manifest>